<mat-toolbar>
  <img src="assets/android-chrome-512x512.png" alt="ClickQuest Logo" style="height: 40px; margin-right: 16px;" />
  <span>ClickQuest</span>
  <span style="margin-left: auto; margin-right: 16px;">v{{ version }}</span>
  <span *ngIf="loggedInUser">{{ loggedInUser }}</span>
</mat-toolbar>
<router-outlet />