<div class="container">
  <h1>ClickQuest: The One-Button Odyssey</h1>
  
  <div *ngIf="!isLoggedIn">
    <h2>Register</h2>
    <input [(ngModel)]="registerName" placeholder="Enter your name" />
    <input [(ngModel)]="registerPassword" placeholder="Enter your password" type="password" />
    <button (click)="register()">Register</button>

    <h2>Login</h2>
    <input [(ngModel)]="loginName" placeholder="Enter your name" />
    <input [(ngModel)]="loginPassword" placeholder="Enter your password" type="password" />
    <button (click)="login()">Login</button>
  </div>

  <div *ngIf="isLoggedIn">
    <h2>Welcome, {{ player.name }}</h2>
    <p>Gold: {{ player.gold }} | XP: {{ player.xp }}</p>
    <div *ngFor="let task of tasks">
      <button (click)="doHeroStuff(task.id)" [disabled]="isBusy || !canDoTask(task)">
        {{ task.name }} ({{ task.time_seconds }}s, {{ task.gold }} gold, level {{ task.minimum_level }})
      </button>
    </div>
    <div *ngIf="isBusy">
      <p>Doing hero stuff... Remaining time: {{ remainingTime }}s</p>
    </div>
  </div>

  <div>
    <h3>Highscore List</h3>
    <ul>
      <li *ngFor="let p of highscore">{{ p.name }}: {{ p.gold }} gold</li>
    </ul>
  </div>
</div>